* {
    margin: 0;
    padding: 0; 
}

body {
    background-color: #1D2128;
}

hr {
    margin: 60px 0 0 0;
    width: 1200px;
    background-color: rgba(229, 229, 299, 0.2);
    border: 1px solid rgba(229, 229, 299, 0.2);
}
